{% extends 'index.html' %}
{% block title%}
    Shoes
{% endblock %}
{% block content %}
<div class="container-lg flex-column inline-grid">
    {% for item in shoes %}
    <div class="card" style="width: 18rem;">
          <img src="#" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text"> {{ item.description }} </p>
                <p class="card-price"> {{ item.price }} </p>
                <a href="#" class="btn btn-primary stretched-link">Подробнее</a>
              </div>
    </div>
    {% endfor %}
</div>
{% endblock %}