{% extends 'index.html' %}
{% block title%}
    News
{% endblock %}
{% block content %}
<div class="container-lg d-flex flex-column">
    {% for item in news %}
    <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text"> {{ item.description }} </p>
                <p class="card-date"> {{ item.date }} </p>
                <a href="#" class="btn btn-primary stretched-link">Прочитать новость</a>
              </div>
    </div>
    {% endfor %}
</div>
{% endblock %}