{% extends 'index.html' %}
{% block title%}
    News
{% endblock %}
{% block content %}
<div class="container-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.age}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}